## Week 2 - Lab: String Patterns, Sorting & Grouping

<br/>**1.**
Were there any warnings loading data into the JOBS table? What can
be done to resolve this?

Hint: View the data loaded into this table and pay close attention to the JOB_TITLE
column.
 
 **JOB_TITLE column's data type is VARCHAR(15), so it can't store more than 15 characters. Job title data with more than 15 characters are truncated while loading the data. The column's data type can be changed to VARCHAR(40) in order to resolve this problem.**

<br/>**2.**
Did all rows from the source file load successfully in the DEPARTMENT
table? If not, are you able to figure out why not?

Hint: Look at the warning. Also, note the Primary Key for this table. 

**There are 2 rows with the same value of DEPT_ID_DEP (Primary Key). That's why the second one is deleted while loading the data.**

<br/>**3.**
Follow these steps to create and run the queries indicated below

1) Navigate to the Run SQL tool in Db2 on Cloud

2) Compose query and run it.

3) Check the Logs created under the Results section. Looking at the contents of the
Log explains whether the SQL statement ran successfully. Also look at the query
results to ensure the output is what you expected.

<br/>**Query 1: Retrieve all employees whose address is in Elgin,IL**

[Hint: Use the LIKE operator to find similar strings]

`select * from EMPLOYEES where ADDRESS LIKE '%Elgin,IL%';`

<br/>**Query 2: Retrieve all employees who were born during the 1970's**

[Hint: Use the LIKE operator to find similar strings] 

`select * from EMPLOYEES where B_DATE LIKE '%197%';`

<br/>**Query 3: Retrieve all employees in department 5 whose salary is between
60000 and 70000 .**

[Hint: Use the keyword BETWEEN for this query ] 

`select * from EMPLOYEES where (SALARY BETWEEN 60000 and 70000)  and DEP_ID = 5;`

<br/>**Query 4A: Retrieve a list of employees ordered by department ID.**

[Hint: Use the ORDER BY clause for this query] 

`select * from EMPLOYEES order by DEP_ID;`

<br/>**Query 4B: Retrieve a list of employees ordered in descending order by
department ID and within each department ordered alphabetically in
descending order by last name.**

`select * from EMPLOYEES order by DEP_ID desc, L_NAME desc;`

<br/>**Query 5A: For each department ID retrieve the number of employees in the
department.**

[Hint: Use COUNT(*) to retrieve the total count of a column, and then GROUP BY]

`select DEP_ID, COUNT(*) from EMPLOYEES group by DEP_ID;`

<br/>**Query 5B: For each department retrieve the number of employees in the
department, and the average employees salary in the department.**

[Hint: Use COUNT(*) to retrieve the total count of a column, and AVG() function to
compute average salaries, and then group]

`select DEP_ID, COUNT(*), AVG(SALARY) from EMPLOYEES group by DEP_ID;`

<br/>**Query 5C: Label the computed columns in the result set of Query 5B as
“NUM_EMPLOYEES” and “AVG_SALARY”.**

[Hint: Use AS “LABEL_NAME” after the column name]

`select DEP_ID, COUNT(*) AS "NUM_EMPLOYEES", AVG(SALARY) AS "AVG_SALARY" from EMPLOYEES group by DEP_ID;`

<br/>**Query 5D: In Query 5C order the result set by Average Salary.**

[Hint: Use ORDER BY after the GROUP BY]

`select DEP_ID, COUNT(*) AS "NUM_EMPLOYEES", AVG(SALARY) AS "AVG_SALARY" from EMPLOYEES group by DEP_ID order by AVG_SALARY;`

<br/>**Query 5E: In Query 5D limit the result to departments with fewer than 4
employees.**

[Hint: Use HAVING after the GROUP BY, and use the count() function in the
HAVING clause instead of the column label.

Note: WHERE clause is used for filtering the entire result set whereas the HAVING
clause is used for filtering the result of the grouping]


`select DEP_ID, COUNT(*) AS "NUM_EMPLOYEES", AVG(SALARY) AS "AVG_SALARY" from EMPLOYEES group by DEP_ID having count(*) < 4 order by AVG_SALARY;`

<br/>**BONUS Query 6: Similar to 4B but instead of department ID use department
name. Retrieve a list of employees ordered by department name, and within
each department ordered alphabetically in descending order by last name.**

[Hint: Department name is in the DEPARTMENTS table. So your query will need to
retrieve data from more than one table. Don’t worry if you are not able to figure this
one out … we’ll cover working with multiple tables in the next lesson.] 

`select D.DEP_NAME , E.F_NAME, E.L_NAME from EMPLOYEES as E, DEPARTMENTS as D where E.DEP_ID = D.DEPT_ID_DEP order by D.DEP_NAME, E.L_NAME desc ;`